---
- name: "Remove legacy Sendmail config parameters"
  ansible.builtin.lineinfile:
    path: "{{ rc_conf }}"
    regexp: "^(?:#[\\s\\t]*)?{{ item }}="
    state: absent
  loop:
    - sendmail_submit_enable
    - sendmail_outbound_enable
    - sendmail_msp_queue_enable
  vars:
    rc_conf: /etc/rc.conf
  notify: "{{ ['Rebuild Sendmail configuration', 'Start Sendmail'] if mail.enable_mta else 'Stop Sendmail' }}"

- name: "{{ 'Enable' if mail.enable_mta else 'Disable' }} sendmail"
  ansible.builtin.lineinfile:
    path: "{{ rc_conf }}"
    regexp: "^(?:#[\\s\\t]*)?sendmail_enable="
    line: "sendmail_enable={{ '\"NO\"' if mail.enable_mta else '\"NONE\"' }}"
  vars:
    rc_conf: /etc/rc.conf
  notify: "{{ ['Rebuild Sendmail configuration', 'Start Sendmail'] if mail.enable_mta else 'Stop Sendmail' }}"
